@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
.btn{
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}
.text-1{
    font-size: 12px;
    color: #000;
}
.wrap{
    width: 80%;
    margin: auto;
}
/* Header ========== */
header {
    background: #F5F5F5;
    padding: 10px 0px;
    position: relative;
}
header ul {
    display: flex;
    justify-content: flex-end;
}
header ul li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
    position: relative;
}
header ul li a:hover{
    text-decoration: underline;
}
header ul li a:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 12px;
    background: #000;
    right: -16px;
    top: 1px;
}
.a-n:after{
    display: none;
}
.fixed-i {
    position: fixed;
    padding: 16px 18px;
    background: #000;
    border-radius: 10px;
    right: 26px;
    bottom: 32px;
}
.fixed-i i {
    color: #fff;
    font-size: 20px;
}
/* Menu Section ====== */
.s1{
    background-image: url(./img/a4b23aab-0f31-46a8-9aac-b833ab94c5b5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: #fff;
    padding-bottom: 65px;
}
nav{
    transition: .3s;
    padding-top: 5px;
}
.wrap.menu-itm {
    display: flex;
    justify-content: space-between;
}
.wrap.menu-itm ul {
    display: flex;
    align-items: center;
}
.wrap.menu-itm ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15.5px;
    font-weight: 300;
    display: inline-block;
    margin-left: 12px;
}
li.logo-img {
    margin-right: 15px;
}
.wrap.menu-itm ul li img {
    width: 100px;
}
.menu-itm ul li a:hover {
    text-decoration: underline;
}
.wrap.menu-itm ul li i {
    color: #fff;
    display: inline-block;
    margin-left: 25px;
    font-size: 19px;
    cursor: pointer;
}
nav:hover {
    background: #fff;
}
nav:hover .menu-itm ul li a{
    color: #000;
}
nav:hover .menu-itm ul li i{
    color: #000;
}
.wrap.s1-w {
    padding-top: 30px;
    text-align: center;
}
.wrap.s1-w p {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}
.wrap.s1-w h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}
.btn-box button {
    color: #fff;
    margin: 0px 5px;
    box-shadow: inset 0px 0px black;
    transition: .3s;
}
.btn-box button:hover {
    box-shadow: inset 125px 1px black;
}
/* Step Style ================= */
section.s2 {
    padding-top: 20px;
    background: #191919;
    color: #fff;
    height: 71vh;
}
.wrap.s2-w {
    position: relative;
}
.text-s2-box {
    margin-bottom: 35px;
    width: 50%;
}
.text-s2-box h2 {
    font-size: 36px;
    font-weight: 700;
}
.text-s2-box p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
}
.btn-s2-box button {
    width: 120px;
    margin-right: 8px;
    color: #fff;
    box-shadow: inset 0px 0px rgb(255, 255, 255);
    transition: .5s;;
}
.btn-s2-box button:hover {
    box-shadow: inset 125px 1px rgb(255, 255, 255);
    color: #000;
}
.step-video-box {
    width: 52%;
    position: absolute;
    top: -55px;
    right: 0;
    height: 92vh;
}
.step-video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.step-img-box {
    width: 52%;
    position: absolute;
}
.step-img-box img {
    width: 100%;
}

/* Scroll Bar Design======== */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: rgb(39, 184, 2);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(42, 209, 0);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(51, 255, 0);
}
